<div mat-dialog-content="">
  <div>
    <mat-form-field>
      <mat-select placeholder="Модуль" [(ngModel)]="data.moduleId">
        <mat-option *ngFor="let module of data.modules" [value]="module.id">
          {{module.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<!--  <li *ngFor="let module of data.modules" [value]="module.id" [(ngModel)] = data.moduleId>
    <button mat-button  [mat-dialog-close]="data" cdkFocusInitial>"  &lt;!&ndash;routerLink="/modules/{{module.id}}"&ndash;&gt;<a routerLink="/modules" hidden></a>{{module.name}}</button>
  </li>-->
</div>
<mat-dialog-actions align="end">
  <button mat-button  [mat-dialog-close]="data" cdkFocusInitial>Удалить</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
