.cont {
  min-height: calc(100vh - 128px);
  background: url('../../../img/workArea.jpg');
}
.container {
  min-height: 87vh;
  background: rgba(255,255,255,0.6)
}

.head{
  text-align: center;
  font-size: 32px;
  color: #bf0600;
  padding-top: 20px;
}
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
.create{
  padding-left: 10px ;
}
.full-width-table {
  width: 100%;
}
.title{
  margin-left: 50px;
}
tr.example-detail-row {
  height: 0;
}
.example-element-row td {
  border-bottom-width: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
