.input-type {
    margin-right: 10px;
    font-size: 12px;
    height: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 20px;
    
  }
  .title {
    font-size: 14px;
    text-align: center;
  }

  .icon {
      margin-top: 25px;
  }