.content {
  min-height: 100vh;
  background: rgba(255,255,255,0.6);
  background: url('../../../img/kuhnya_dizayn_interer_25705_1920x1080.jpg');
}
/*.container {
  background: rgba(255,255,255,0.6)
}*/

/*.jumbotron{
  height:  100vh;
}*/
/*.cont {
  min-height: calc(100vh - 129px);
  background: url('../../../img/workArea.jpg');
}*/
