<div class="substrate">
  <div class="container d-flex">
    <div class="row">
      <div class="col left">
        <h1 class="header">"МЕБЕЛЬНЫЙ ПОМОЩНИК"</h1>
        <p class="description"> Приветствую вас. Это приложение поможет облегчить жизнь конструкторам, дизайнерам и
          руководителям небольших
          мебельных производств! Программа может быть как просто отдельной деталировкой, так состовлять мебель из
          стандартных модулей пересчитывая детали на нужный вам размер. При этом достаточно указать только габариты
          модуля. Так же будет добавлена возможность создавать модули в ручную, как кухонные так и шкафов и комодов.
          Также есть возможность полного просчета заказа с настройками цен на компоненты изделия.
        </p>
        <br><br><br><br>
        <p class="tech">Приложение разрабатывается на основе технологий SpringBoot, Hibernate, SpringData, Angular 7.0,
          Gradle, SpringSecurity.//будет дополнено
        </p>
      </div>
      <div class="col right">
        <div class="authorization">
          <label>Авторизация</label>
        </div>
        <div class="container two center-pill">
          <div *ngIf="isLoggedIn; else loggedOut">
          </div>
          <ng-template #loggedOut>
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <mat-card-content>
                  <div>
                    <mat-form-field class="login-full-width">
                      <input matInput [(ngModel)]="form.username" placeholder="Введите email" name="username"
                             #username="ngModel" required="true"/>
                      <mat-hint *ngIf="f.submitted && username.invalid">
                        <mat-hint *ngIf="username.errors.required">Необходимо ввести email</mat-hint>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="login-full-width">
                      <input type="password" matInput [(ngModel)]="form.password" #password="ngModel"
                             placeholder="Введите пароль" name="password" required="true" minlength="6"/>
                      <mat-hint *ngIf="f.submitted && password.invalid">
                        <mat-hint *ngIf="password.errors.required">Нобходимо ввести пароль</mat-hint>
                        <mat-hint *ngIf="password.errors.minlength">Пароль должен быть не менее 6 символов</mat-hint>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </mat-card-content>
                <div class="row but">
                  <mat-card-actions>
                    <button mat-raised-button color="primary" class="button_signin">Войти</button>
                    <a href="signup" class="btn btn-success button_signup">Зарегистрироваться</a>
                    <div>
                      <mat-hint color="warn" *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                        Login failed: {{errorMessage}}
                      </mat-hint>
                    </div>


                  </mat-card-actions>
                </div>
              </form>
            </mat-card>

          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>

