.substrate {
  padding-top: 100px;
  min-height: calc(100vh - 112px);
  background: url('../../../img/workArea.jpg');
}
.but {
  font-weight: 100;
  padding-left: 50px;
  padding-right: 10px;
  margin-right: 50px;
}

.authorization {
  font-size: 32px;
  color: #bf0600;
  padding-top: 50px;
}

.left {
  background-color: white;
  background: rgba(255,255,255,0.6);
  font-weight: 600;
  border-radius: 4px;
}

.right {
  font-weight: 600;
  background-color: #182134;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px;
}

.header{
  text-align: center;
  color: #bf0008;
  text-orientation: upright;
  pointer-events: none;
  cursor: not-allowed;
}
.row {
  padding-left: 80px;
}

.description {
  font-size: 18px;
  color: black;
}
.two {
  margin: 50px auto 0 auto;
  text-align: center;
}

.tech {
  color: #bf0008;
}
.button_signin {

  margin-right: 50px;
}
/*input[type="text"], input[type="password"] {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 10px;
}*/
