<table border="3"   class="table table-striped" >
    <tr>
       <td align="center">Наименование</td>
       <td align="center">Артикул</td>
       <td align="center">Размер</td>
       <td align="center">Цвет</td>
       <td align="center">Угол</td>
       <td align="center">Тип</td>
       <td align="center">Доводчик</td>
       <td align="center">Кол-во</td>
       <td align="center">Страна производителя</td>
       <td align="center">Бренд</td>
       <td align="center">Цена/$</td>
       <td align="center" width="40">Редактировать</td>
       <td align="center" width="50">Удалить</td>
   </tr>
 
</table>
