
.form-group{

  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%
}

.row{
  align-content: center;
  text-align: center;
  margin: auto auto auto 50px ;
}

mat-card {

  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  #margin-left: 50px;

}
