<div class="cont">
  <div class="container">
    <button mat-raised-button color="primary" class="btn btn-success disabled">Назад</button>
    <div>
      <h7 class="title">Обновление 0.7.3 -- date 31.01.2019</h7>
      <p><span> * Исправлены некоторые визульные елементы.
            </span></p>
      <p>* Добавлена возможность редактировать заказы</p>
      <p>* Добавлена возможность редактировать модули заказа</p>
      <p>* Добавлены цвета дсп в каталог</p>
    </div>
    <hr>
    <div>
      <h7 class="title">Обновление 0.7.2 -- date 30.01.2019</h7>
      <p>
        * Исправлены графические решения в таблицах. Добавлено описание для каждого следуещего обновления.
      </p>
    </div>
  </div>
</div>
